<div class="container mb-5">
	<h2>Add new {{peopleGroup}}</h2>
	<form id="new_site_user" method="POST">
		<div class="row">
			<div class="col-md-12 col-lg-7">

				<div class="form-group">
					<label for="username">Discord Username</label>
					<input type="text" class="form-control" name="username" id="username" placeholder="Bot#101"
						required />
				</div>

				<div class="form-group">
					<label for="name">Name (IRL or pseudonym)</label>
					<input type="text" class="form-control" name="name" id="name" maxlength="24"
						placeholder="Joe Bloggs" required />
				</div>

				<div class="form-group">
					<label for="position">Position in List</label>
					<input type="number" min=1 class="form-control" name="position" id="position" placeholder=1
						required />
				</div>

				<div class="form-group">
					<label for="title">Role Title</label>
					<input type="text" class="form-control" name="title" id="title" maxlength="32" minlength="1"
						placeholder="Website Maker" required />
				</div>

			</div>

			<div class="col-lg-5 ml-auto">

				<div class="form-group">
					<label for="desc">Role Description</label>
					<textarea name="desc" class="form-control" id="desc" minlength="32" maxlength="128"
						placeholder="Description of their role" required></textarea>
				</div>

				<div class="form-group">
					<label for="message">User Message</label>
					<textarea name="message" class="form-control" id="message" maxlength="1024" minlength="128"
						placeholder="A personal message from the user"></textarea>
				</div>

				<div class="form-group">
					<label for="scFiles">Avatar image</label>
					<input type="file" id="scFiles" class="form-control">
				</div>

				<button class="btn btn-primary w-100" onclick="updateUser(event, this.form, '{{endpoint}}')">Add
					{{peopleGroup}}
				</button>
			</div>
		</div>
	</form>
</div>

<div class="container">
	<h2>Edit existing {{peopleGroup}}s</h2>
	<ol id="sortable">
		{{#each people}}
		<li>
			<h3>{{ user.name }}</h3>
			<form id="{{this.user.name}}_form">
				<div class="row">
					<div class="col-md-12 col-lg-7">

						{{!-- <div class="form-group">
							<label for="uuid">UUID</label> --}}
						<input type="hidden" class="form-control" name="uuid" id="uuid" value="{{ user.uuid }}" />
						{{!-- </div> --}}

						<div class="form-group">
							<label for="name">Name (IRL or pseudonym)</label>
							<input type="text" class="form-control" name="name" id="name" value="{{ user.name }}"
								minlength="1" maxlength="24" placeholder="Name of {{../peopleGroup}}" />
						</div>

						<div class="form-group">
							<label for="position">Position in List</label>
							<input value={{user.position}} type="number" min=1 class="form-control" name="position"
								id="position" placeholder={{ user.position }} required />
						</div>

						<div class="form-group">
							<label for="title">Role Title</label>
							<input type="text" class="form-control" name="title" id="title" value="{{ user.title }}"
								minlength="1" maxlength="32" placeholder="Tole Name" />
						</div>

						<div class="form-group">
							<label for="desc">Role Description</label>
							<textarea name="desc" class="form-control" id="desc" minlength="32" maxlength="128"
								placeholder="Role Description">{{ user.desc }}</textarea>
						</div>

					</div>
					<div class="col-lg-5 ml-auto">

						<div class="form-group">
							<label for="message">User Message</label>
							<textarea name="message" class="form-control" id="message" maxlength="1024" minlength="128"
								placeholder="A personal message from the user">{{ user.message }}</textarea>
						</div>

						<div class="form-group">
							<label for="scFiles">Avatar image</label>
							<input type="file" id="scFiles" class="form-control">
						</div>

						<button class="btn btn-primary w-100"
							onclick="updateUser(event, this.form, '{{../endpoint}}/edit')">Update
							{{../peopleGroup}}
						</button>
						<button class="btn btn-danger py-2 my-2 w-100"
							onClick="delUser(event, this.form.uuid.value, '{{../endpoint}}/del')">
							Delete {{../peopleGroup}}
						</button>
					</div>
				</div>
			</form>
		</li>
		{{/each}}
	</ol>
</div>



{{!-- <script>
	function updateUser(event, form, endpoint) {
		console.log(`Updating user with endpoint ${endpoint}.`);
		event.preventDefault();

		const formData = new FormData(form);
		for (const d of formData) {
			console.log(d);
		}

		$.ajax({
			url: `${endpoint}`,
			type: "post",
			data: formData,
			// https://stackoverflow.com/questions/11071100/jquery-uncaught-typeerror-illegal-invocation-at-ajax-request-several-eleme
			processData: false,
			enctype: "multipart/form-data",
			contentType: false,
			success: function (res) {
				console.log("User successfully updated:");
				console.log(res.toString());
				//location.search = "";
			},
			error: function (jqXHR, textStatus, errorThrown) {
				console.log(textStatus, errorThrown);
				//location.search = "";
			}
		});
	}

	function delUser(event, uuid, endpoint) {
		console.log(`Deleting user with uuid ${uuid}.`);
		event.preventDefault();

		const formData = new FormData();
		formData.append("uuid", uuid);
		for (const d of formData) {
			console.log(d);
		}

		$.ajax({
			url: `${endpoint}`,
			type: "post",
			data: formData,
			// https://stackoverflow.com/questions/11071100/jquery-uncaught-typeerror-illegal-invocation-at-ajax-request-several-eleme
			processData: false,
			enctype: "multipart/form-data",
			contentType: false,
			success: function (res) {
				console.log("User successfully deleted");
				console.log(res.toString());
				//location.search = "";
			},
			error: function (jqXHR, textStatus, errorThrown) {
				console.log(textStatus, errorThrown);
				//location.search = "";
			}
		});
	}
</script> --}}