{{> header-small  }}

<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
{{!-- <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script> --}}


<div class="site-section">
	<div class="container" data-aos="fade-up">
		<div class="row">
			<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
				<h2 class="mb-5">Your Committee</h2>
				<p>Here at SVGE, to help ensure the best possible society experience for you, we run two committees. Our
					main committee is voted in by every member each year at our AGM, whilst game reps (find them on
					their <a href="/games">games pages</a>) form a smaller games committee and are voted in by the
					members of their gaming community to represent their interests.
				</p>
			</div>
		</div>
		<div class="row">
			{{#each people }}
			{{#if (multipleOf @index 2) }}
			<div class="d-block d-md-flex podcast-entry bg-dark mb-5" data-aos="fade-up">
				<div class="image" style="background-image: url({{ avatar }});"></div>
				<div class="text">
					<h3 class="font-weight-light"><a href="#">{{ user.title }}</a></h3>
					<div class=" mb-3 text-white"><span class="text-black-opacity-05"><small>{{ user.name }}<span
									class="sep">|</span>{{ user.discordUsername }}</small></span></div>
					<p class="mb-4 text-white lead">{{ user.desc }}</p>
					<p class="mb-4 text-white">{{ user.message }}</p>
				</div>
			</div>
			{{else }}
			<div class="d-block d-md-flex podcast-entry bg-dark mb-5" data-aos="fade-up">
				<div class="text">
					<h3 class="font-weight-light"><a href="#">{{ user.title }}</a></h3>
					<div class=" mb-3 text-white"><span class="text-black-opacity-05"><small>{{ user.name }}<span
									class="sep">|</span>{{ user.discordUsername }}</small></span></div>
					<p class="mb-4 text-white lead">{{ user.desc }}</p>
					<p class="mb-4 text-white">{{ user.message }}</p>
				</div>
				<div class="image" style="background-image: url({{ avatar }});"></div>
			</div>
			{{/if }}
			{{/each }}
		</div>
	</div>

	{{#if canEditAll }}
	{{> user-manager }}
	{{/if }}
</div>


{{!-- <script>
	$(function () {
		$("#sortable").sortable();
	});
</script> --}}

{{> footer  }}