{{> header-small }}

<style>
	img.game {
		width: 100%;
		margin-bottom: 5px;
	}
	@media (min-width: 992px) {
		img.game {
			width: calc(100% / 2);
			margin-left: 10px;
		}
	}
</style>

<div class="site-section">
	<div class="container">
		<div class="site-section-heading text-left w-border mt-sm-2 mt-lg-0">
			<h2>{{game.heading}}</h2>
		</div>
		<div class="row" data-aos="fade-up" data-aos-delay="100">
			<p>
				<img src="{{img}}" alt="Image" class="game float-lg-right">
				{{{game.text}}}
			</p>
		</div>
		{{#if reps}}
			<div class="site-section-heading text-left mt-5 w-border row" data-aos="fade-up" data-aos-delay="100">
				<h2>Reps</h2>
			</div>
			{{#each reps}}
				<div class="d-block d-md-flex podcast-entry bg-dark mb-5" data-aos="fade-up">
					<div class="image" style="background-image: url('{{this.icon}}');"></div>
					<div class="text">
						<h3 class="font-weight-light"><a href="#">{{this.rep.name}}</a></h3>
						<div class="mb-3 text-white">
							<span class="text-black-opacity-05"><small>
								{{this.rep.discordUsername}} <span class="sep">&vert;</span>
							</small></span>
						</div>
						<p class="mb-4 text-white">{{this.rep.message}}</p>
					</div>
				</div>
			{{/each}}
		{{/if}}
	</div>
</div>

{{> footer }}