{{> header-small }}

<style>
	img.game {
		width: 100%;
		margin-bottom: 5px;
	}

	@media (min-width: 992px) {
		img.game {
			width: calc(100% / 2);
			margin-left: 10px;
		}
	}
</style>

<div class="site-section">
	<div class="container">
		<div class="site-section-heading text-left w-border mt-sm-2 mt-lg-0">
			<h2>{{game.heading}}</h2>
		</div>
		<div class="row" data-aos="fade-up" data-aos-delay="100">
			<img src="{{img}}" alt="Image" class="game float-lg-right">
			{{{game.text}}}
		</div>
		{{#each (visibleUsers people) }}
		{{#if (eq @index 0)}}
		<div class="site-section-heading text-left mt-5 w-border row" data-aos="fade-up" data-aos-delay="100">
			<h2>Reps</h2>
		</div>
		{{/if}}
		<div class="d-block d-md-flex podcast-entry bg-dark mb-5" data-aos="fade-up">
			<div class="image" style="background-image: url({{ avatar }});"></div>
			<div class="text">
				<h3 class="font-weight-light"><a href="#">{{ user.title }}</a></h3>
				<div class=" mb-3 text-white"><span class="text-black-opacity-05"><small>{{ user.name }}<span
								class="sep">|</span>{{ user.discordUsername }}</small></span></div>
				<p class="mb-4 text-white lead">{{ user.desc }}</p>
				<p class="mb-4 text-white">{{ user.message }}</p>
			</div>
		</div>
		{{/each}}

		{{#if (or (eq canEditAll true) (ne canEditSelf undefined))}}
		{{> user-manager}}
		{{/if}}
	</div>
</div>

{{> footer }}