{{> header-small }}

<div class="site-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-lg-7 mb-5">
				<h2 class="text-white mb-3">Quotes and Screenshots</h2>

				<form action="/gmod-splash/edit/quote" class="contact-form" id="new_gmod_quote" method="POST"
					enctype="multipart/form-data">
					<label class="font-weight-bold" for="quote">Quote</label>
					<div class="row form-group">
						<div class="col-md-12 mb-3 mb-md-0">
							<input type="text" id="quote" name="quote" class="form-control" placeholder="The quote">
						</div>
					</div>

					<label class="font-weight-bold" for="author">Author</label>
					<div class="row form-group">
						<div class="col-md-8">
							<input type="text" id="author" name="author" class="form-control"
								placeholder="Person who said the quote">
						</div>
						<div class="col-md-4">
							<button class="btn btn-primary w-100" type="submit">Save Quote</button>
						</div>
					</div>
				</form>

				<form action="/gmod-splash/edit/screenshot" class="contact-form" method="POST"
					enctype="multipart/form-data" id="new_gmod_screenshot">
					<label class="font-weight-bold" for="author">Screenshots</label>
					<div class="row form-group">
						<div class="col-md-8">
							<input type="file" id="newScreenshotFiles" name="newScreenshotFiles" class="form-control"
								placeholder="Click to select files" multiple>
						</div>
						<div class="col-md-4">
							<button class="btn btn-primary w-100" type="submit">Save Screenshot</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-lg-4 ml-auto">
				<div class="team-member">
					<img src="/images/BLOBBY.jpg" alt="Image" class="img-fluid">
					<div class="text">
						<h1 class="mb-4">BLOBBY BLOBBY BLOBBY</h1><br />
						<h2 class="mb-2 font-weight-light h4">Mr. Blobby KBE</h2>
					</div>
				</div>
			</div>
		</div>


		<h3 class="text-white mb-3">Current Quotes</h3>
		<div class="row">
			<table>
				{{#each quotes}}
				<tr>
					<td class="mr-2">
						<form method="POST" action="/gmod-splash/edit/quote/del/{{uuid}}" id="del_quote_${{uuid}}">
							<button class="btn btn-danger py-2 my-2 w-100" type="submit">Delete Quote</button>
						</form>
					</td>
					<td class="align-middle">&nbsp;&nbsp;{{quote}} - {{author}}</td>
				</tr>
				{{/each}}
			</table>
		</div>

		<br />
		<h3 class="text-white mb-3">Current Screenshots</h3>
		<div class="row">
			{{#each screenshots}}
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
				<div class="team-member">
					<img src="{{image}}" alt="Image" class="img-fluid">
					<div class="text">
						<form method="POST" action="/gmod-splash/edit/screenshot/del/{{uuid}}" id="del_image_${{uuid}}">
							<button class="btn btn-danger py-2 my-2 w-100" type="submit">Delete Screenshot</button>
						</form>
					</div>
					</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>

{{> footer }}