<center>
	<br /><br /><br />
	<h1>"{{ quote }}" - {{ quote_author }}</h1><br />
	<img src="/images/gmod/{{ screenshot }}" width="400px" /><br /><br /><br />
	<h4>Stats: {{ stats }}</h4>
	<h5>Map name: {{ mapName }}</h5>
	<h5>Steam ID: {{ steamId }}</h5>
</center>